
<%= render 'layouts/nav'  %>
<div class="main-img">
	<%= image_tag("roof-dark.jpg", class:'img-responsive, main-img') %>
    <div class="carousel-caption">
	    <div class="coL-lg-12">
	    	 <h3 data-aos="fade-down" data-aos-delay="800" class="welcome-heading-small">We are experts in the roofing business</h3>
		 </div>
		 <div class="col-lg-12">
	     	 <h1 data-aos="fade-right" data-aos-delay="500" class="welcome-heading">Welcome to McCluskey roofing</h1>
	 	 </div>
	 	 <div class="col-lg-12">
	    	 <h3 data-aos="fade-up" data-aos-delay="800" class="welcome-heading-serve">Our experts are ready to serve you...</h3>
		 </div>
	</div>
</div>

<div style="background-color: rgba(54, 72, 125, 0.86)!important;!important" class="jumbotron jumbotron-me">
	<div class="container">
	<br>
		<h3 style="text-align: center;">If you have any roofing problems we are here to help </h3>
	</div>
</div>
<div style="background-color: #a0ce4e!important" class="jumbotron jumbotron-me">
	<h2 style="text-align: center">About us</h2>
	<br>
	<p style="text-align: center" class="mx-auto">mpington Roofing Services Ltd was established in 1990. It was founded by the company director and is now a family run business.

	We provide a very competitive roofing service for all roofing undertaken whether it be domestic or commercial. We pride ourselves on only using competent tradespersons that work to the high standard we and the customer expect.

	This enables us to provide a prompt, reliable and professional service at all times. In 2004 we received accreditation from SAFEcontractor - which is a contractor scheme for businesses.

	As stated on the SAFEcontractor website" Many large organisations now use SAFEcontractor as their primary means of selecting contractors". For information regarding this scheme please click the SAFEcontractor logo shown further on in our website
	</p>
</div>

<div style="background-color: #f5f5f5!important; color: black;" class="jumbotron jumbotron-me">
	<div class="container">
		<h2 style="text-align: center;">Services</h2>
		<hr class="hr-services">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-lg-4">
				<%= image_tag("roof/1.jpg", class: 'img-responsive' ) %>
				<br>
				<br>
				<h4 style="text-align: center">IMPROVE YOUR HOUSE APPEARANCE</h4>
				<hr class="hr-services">
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a t</p>
			</div>
			<div class="col-lg-4">
				<%= image_tag("roof/2.jpg", class: 'img-responsive' ) %>
				<br>
				<br>
				<h4 style="text-align: center">KEEPING YOUR HOME SAFE, DRY AND COMFORTABLE</h4>
				<hr class="hr-services">
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a t</p>
			</div>
			<div class="col-lg-4">
				<%= image_tag("roof/3.jpg", class: 'img-responsive' ) %>
				<br>
				<br>
				<h4 style="text-align: center">WE'LL GIVE YOUR ROOF A NEW LIFE!</h4>
				<hr class="hr-services">
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a t</p>
			</div>
		</div>
		<br>
		<br>
		<div class="row justify-content-md-center">
		<div class="">
			<button {transition-timing-function: linear;} class="btn btn-primary mx-auto services-btn">VIEW ALL SERVICES</button>
		</div>
		</div>
	</div>
</div>
<div style="background-color: rgba(54, 72, 125, 0.86)!important" class="jumbotron jumbotron-me">
	<div class="container">
	<div class="mx-auto">
		<h4 style="text-align: center;">SOLVING ANY OF YOUR ROOFING PROBLEMS</h4>
	</div>
	<br>
	<br>
		<br>
		<div class="service-icons-wrapper">
			<div class="row">
				<div class="col-lg-4">
					<div class="serv-icons mx-auto">
						<i class="fa icons fa-home fa-3x" aria-hidden="true"></i>
						<br>
						<br>
						<br>
						<h4>Test</h4>
						<br>
					<br>
				</div>
				<br><br><br>
				<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p>					
				</div>
				<div class="col-lg-4">
					<div class="serv-icons mx-auto">
						<i class="icon icons fa fa-paint-brush fa-3x" aria-hidden="true"></i>
						<br>
						<br>
						<br>
						<h4>Test</h4>
						<br>
					<br>
					</div>
					<br><br><br>
					<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p>
				</div>
				<div class="col-lg-4">
					<div class="serv-icons mx-auto">
						<i class="icon icons fa fa-clock-o fa-3x" aria-hidden="true"></i>
						 <br>
						<br>
						<br>
						<h4>Test</h4>
						<br>
					<br>
					</div>
					<br><br><br>
					<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p>
				</div>
				</div>
					<div class="row">
					<div class="col-lg-4">
						<div class="serv-icons mx-auto">
							<i class="icon icons fa fa-wrench fa-3x" aria-hidden="true"></i>
							<br>
							<br>
							<br>
							<h4>Test</h4>
							<br>
						<br>
						</div>
						<br><br><br>
						<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p>
					</div>
					<div class="col-lg-4">
						<div class="serv-icons mx-auto">
							<i class="icon icons fa fa-wrench fa-3x" aria-hidden="true"></i>
							<br>
							<br>
							<br>
							<h4>Test</h4>
							<br>
						<br>
						</div>
						<br><br><br>
						<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p>
					</div>
					<div class="col-lg-4">
						<div class="serv-icons mx-auto">
							<i class="icon icons fa fa-wrench fa-3x" aria-hidden="true"></i>
							<br>
							<br>
							<br>
							<h4>Test</h4>
							<br>
						<br>
						</div>
						<br><br><br>
						<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p>
					</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer'  %>
